/* ========================================================== */
/* = Site Variables                                         = */
/* ========================================================== */

/* Grid options
/* ========================================================== */

@gutter_width: 48px; // Your gutter width
@columns: 12; // The amount of columns you want
@max_width: 1008px; // Set a maximum width of the site

// Half the gutter for borders, margin, padding etc
@gutter: @gutter_width*0.5;


/* Type options
/* ========================================================== */

/* Font variables */
@body_color: #333;
@heading_color: #111;

@body_family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
@heading_family: "Open Sans Condensed", "Helvetica Neue", Arial, Helvetica, Sans-Serif;


/* Link colors */
@link: #6bac60;
@link_hover: #78aace;

/* Select colors */
@select: #78aace;
@select_color: #fff;

/* Default Colors */
@grey_light: #ddd;
@grey_regular: #ccc;
@grey_dark: #666;

@green: #6bac60;