/**
 * Responsable Grid System
 *
 * Setting up a responsive grid based on Semantic GS
 *
 * @author Abban Dunne http://abandon.ie
 * @author James Wilson http://jimmynotjim.com
 * @version 0.9
 */

@font-face {
    font-family: 'Cala-Medium';
    src: url('../fonts/cala-medium.eot');
    src: url('../fonts/cala-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cala-medium.woff') format('woff'),
         url('../fonts/cala-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ========================================================== */
/* = Import normalize, baseline and grid                    = */
/* ========================================================== */

@import "constants.less";
@import "libs/normalize.less";
@import "libs/typeplate.less";
@import "libs/grid.less";
@import "libs/mixins.less";
@import "ui.less";
@import "swatch.less";
@import "defaults.less";
@import "settings.less";

/* ========================================================== */
/* = Your custom styles go here                             = */
/* ========================================================== */

body{
	position:relative;
}

div#charon{
	.row();
	text-align: center;
	margin-bottom: 1.5em;
	nav{
		.column(12);
		ul{
			.gradient(#fafafa, #fafafa, #ebebeb);
			.border-radius(3px);
			border:1px solid #eaeaea;
			.clearfix();
			clear:both;
			li{
				.column(3,0);
				a{
					.LETTERPRESS();
					display:block;
					padding: 10px 0;
					color:#777;
					border-bottom: 2px solid #dadada;
					border-right: 1px solid #e7e7e7;
					border-left: 1px solid #fafafa;
					&:hover, &:focus{
						background:#fafafa;
						color:@link;
					}
					&.current{
						border-bottom:2px solid @brand-red;
					}
				}
			}
			li:first-child a{ border-left:0; }
			li:last-child a{ border-right:0; }
		}
	}
}

header#worlds_birth{
	.gradient(#f9f9f9, #f9f9f9, #f3f3f3);
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid @carbon_light;
	color:#414141;
	margin-left:-1px;
	padding-left: 1px;
	>div{
		.row();
		>div{
			.column(12);
			>figure{
				float:left;
				width: 160px;
			}
			>div{
				float:left;
				line-height: 60px;
				padding-left: 1.3em;
				border-left: 1px solid #e5e5e5;
				position:relative;
				&:before{
					content:'';
					position:absolute;
					height: 40px;
					width: 1px;
					background:@white;
					left:0;
					top:0;
				}
			}
			>a{
				display:block;
				float:right;
				margin-top: 14px;
				border: 1px solid #ddd;
			}
		}
	}
}

#content{
	.row();
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	>div.title{
		.column(12);
		>div{
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #e5e5e5;
			position: relative;
			h1{
				font-size: 36px;
				margin-bottom:0;
				span{
					color:#999;
				}
			}
			>div.select, a.button{
				position: absolute;
				top:0;
				right:0;
			}
		}
	}
	>section{
		.column(8);
		padding-right:0;
	}
	>section.full_width{
		.column(12);
	}
	>aside{
		.column(4);
		h1,h2,h3,h4,h5,h6{
			margin-bottom: 5px;
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 5px;
		}
		a.button{
			display:block;
			margin-bottom: 1.5em;
		}
		ul{
			.nav-menu();
		}
	}
	>section, >aside{
		>div{
			>*:last-child{
				margin-bottom: 0;
			}
		}
	}
}
div.message{
	.column(12);
	margin-bottom: 1.5em;
	>div{
		.border-radius(3px);
		background:#fdffc8;
		border: 1px solid #d1d485;
		padding: 20px;
	}
}

.list_date{
	background:#eee;
	padding: 0 5px;
}
.commit+.list_date{
	margin-top: 60px;
}
.commit, .deployment, .repository, .branch{
	border-bottom: 1px solid #e5e5e5;
	position:relative;
	padding: 10px 0;
	.commit_message, .deployment_name, .repository_name, .branch_name{
		padding-right: 100px;
	}
	.meta{
		font-size: 16px;
		color:#999;
	}
	div.tools{
		position:absolute;
		top:50%;
		right:0;
		margin-top: -15px;
		display:none;
	}
	&:hover, &:focus{
		div.tools{
			.inline-block();
		}
	}
}
.commit{
	padding-left:50px;
	>figure{
		position:absolute;
		top:10px;
		left:0;
		bottom:0;
		width: 40px;
		>a{
			display:block;
			background:@white;
			padding: 3px;
			border:1px solid #e5e5e5;
		}
	}
}


/**
 * NOTE
 * Don't add breakpoints aimed at device pixel widths,
 * add them where they suit best for your design. 
 */
@media screen and (max-width: 750px){
	
}